	body{
	   overflow-x:hidden;
	  }


	.campusheading{
		background-color: #800000;
		display: block;
		color: white;
	}

.navbar-default.navbar-custom .navbar-nav>li>a {
    color: white;
  }

	 .color{
	 		background-color: #800000;
	 		display: block;
	 		color: white;
	 		margin-bottom: auto;
	 }

	 .align{
	 	    padding-left: 65px;

	 }

	 .size{
	 	 margin-top: 20px;
	    line-height: 2.0em;
	    letter-spacing: normal;
	    font-weight: 400;
	 }

	.all{
		    padding-left: 75px;
		    color: maroon;
	}


	 .box{
	  background-color: lightgrey;
	  width: 300px;
	  padding: 25px;
	  margin: 25px;
	  line-height: 2.0em;
	   font-weight: 400

	}

	.next{
	  background-color: lightgrey;
	  width: 300px;
	  padding: 25px;
	  margin: 25px;
	  line-height: 2.0em;
	   font-weight: 400

	}

	.allone{
		  padding-left: 85px;
		  color: maroon;
	}

	.boxone{
		background-color: lightgrey;
	  width: 300px;
	  padding: 25px;
	  margin: 25px;
	  line-height: 2.0em;
	   font-weight: 400
	}

	.boxtwo{
		background-color: lightgrey;
	  width: 300px;
	  padding: 25px;
	  margin: 25px;
	  line-height: 2.0em;
	   font-weight: 400
	}

	.event{
		    padding-left: 85px;
		   color: maroon;
		   padding-bottom: 15px;
	}

	.policy{
	   /*margin-left: 85px;
	   background-color: coral;*/
    background-color: #c26623;
    color: #fff;
    padding: 0.625em;
    font: 1.675em "ProximaNova-Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0.3333em 0.666em;
}
 
 .csl{
 	background-color: #3e7699;
    color: #fff;
    padding: 0.625em;
    font: 1.675em "ProximaNova-Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0.3333em 0.666em;
}
 
 ul.a {
  list-style-type: square;
  color: white;
}

ul.b {
  list-style-type: square;
    color: white;
}

ul.c {
  list-style-type: square;
    color: white;
}

 .bgcolor{
 	    background-color: black;
  color: white;

 }